option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
    PythonVersion: 3.7.16
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []

commands:
  01_upgrade_pip:
    command: "/usr/bin/pip3 install --upgrade pip"
  02_install_requirements:
    command: "/usr/bin/pip3 install -r /var/app/staging/requirements.txt"
  03_install_numpy:
    command: "/usr/bin/pip3 install numpy==1.21.0"
  04_install_scikit:
    command: "/usr/bin/pip3 install scikit-learn==0.24.2"

container_commands:
  01_setup_virtualenv:
    command: "python3 -m venv /var/app/venv"
  02_activate_virtualenv:
    command: "source /var/app/venv/bin/activate"
  03_install_requirements_venv:
    command: "/var/app/venv/bin/pip install -r requirements.txt"