option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
    NumProcesses: '3'
    NumThreads: '20'
    PythonVersion: 3.7.16
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: application.settings
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    MatcherHTTPCode: 200,301

packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []

commands:
  01_remove_old_venv:
    command: "rm -rf /var/app/venv"
  02_create_new_venv:
    command: "python3 -m venv /var/app/venv"
  03_activate_new_venv:
    command: ". /var/app/venv/bin/activate"
  04_upgrade_pip:
    command: "/var/app/venv/bin/pip install --upgrade pip"
  05_upgrade_numpy:
    command: "/var/app/venv/bin/pip install --upgrade numpy==1.21.0"
  06_upgrade_scikit_learn:
    command: "/var/app/venv/bin/pip install --upgrade scikit-learn==0.24.2"
  07_install_requirements:
    command: "/var/app/venv/bin/pip install -r /var/app/staging/requirements.txt -v"