packages:
  yum:
    gcc-c++: []
    python3-devel: []

commands:
  01_upgrade_pip:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"
  02_install_numpy:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install numpy==1.21.0 --no-cache-dir"
  03_install_requirements:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install -r /var/app/staging/requirements.txt --no-cache-dir"