packages:
  yum:
    gcc: []
    gcc-c++: []
    python3-devel: []

commands:
  01_remove_old_venv:
    command: "rm -rf /var/app/venv"
  02_create_new_venv:
    command: "python3 -m venv /var/app/venv"
  03_activate_new_venv:
    command: ". /var/app/venv/bin/activate"
  04_upgrade_pip:
    command: "/var/app/venv/bin/pip install --upgrade pip"
  05_install_requirements:
    command: "/var/app/venv/bin/pip install -r /var/app/staging/requirements.txt"